<div class="box">

	<form [formGroup]="sendMessageForm" (ngSubmit)="onSubmitForm()">
		  
   		<div fxLayout="column" fxLayoutAlign="center stretch" class="m-5">

            <mat-form-field class="mx-4 my-2" fxFlex>
              	<input matInput placeholder="Nom" formControlName="name" required>
				<mat-error *ngFor="let validation of getValidationMessages('name')">
					<mat-error *ngIf="sendMessageForm.hasError(validation.type, ['name'])">{{validation.message}}</mat-error>
				</mat-error>
            </mat-form-field>

            <mat-form-field class="mx-4 my-2" fxFlex>
              	<input matInput placeholder="Adresse e-mail" formControlName="email" required>
				<mat-error *ngFor="let validation of getValidationMessages('email')">
					<mat-error *ngIf="sendMessageForm.hasError(validation.type, ['email'])">{{validation.message}}</mat-error>
				</mat-error>
            </mat-form-field>

          	<mat-form-field class="mx-4 my-2" fxFlex>
    			<textarea matInput placeholder="Message" formControlName="message" required></textarea>
				<mat-error *ngFor="let validation of getValidationMessages('message')">
					<mat-error *ngIf="sendMessageForm.hasError(validation.type, ['message'])">{{validation.message}}</mat-error>
				</mat-error>
  			</mat-form-field>

		    <mat-checkbox class="mx-4 my-3" formControlName="newsletter">S'inscrire à la Newsletter</mat-checkbox>

			<div fxLayout="row" fxLayoutAlign="center center">
	      		<mat-progress-spinner *ngIf="progress" class="mb-3" color="primary" mode="indeterminate" diameter="50" strokeWidth="5"></mat-progress-spinner>
		 		<button *ngIf="!progress" class="mx-4 my-2 px-5 py-2" mat-raised-button color="primary" type="submit" [disabled]="sendMessageForm.invalid" fxFlex>Envoyer</button>
			</div>

		</div>

	</form>

</div>